body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: lightgray;
    border: none;
    padding: 10px;

    &:hover {
      background-color: gray;
      cursor: pointer;
    }
  }
}
